body {
      font-family: "PT Sans Narrow", bold;
      font-size: 18px;
      line-height: 18px;
      color: #000000;
      width: 940px;
}
figure {
      padding-bottom: 0px;
      margin-bottom: 20spx;

}
h1 {
      font-family: "PT Sans Narrow", bold;
      font-size: 30px;
      line-height: 42px;
      color: #000000;
}
.filtr-vendors-products-title {
      font-family: "PT Sans Narrow", bold;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
}
.main-header {
      width: 940px;
      height: 72px;
}
li {
      list-style-type: none; /* Убиреам маркеры из списков*/
}


header li {
      float: left;
}

.main-header {
      background-color: #000000;
      outline: 1px solid yellow;
      height: 72px;

}

.main-header a {
      font-family: "PT Sans Narrow";
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color:#ffffff;
      text-transform: uppercase;
      text-decoration: none;
      outline: 1px dashed #cccccc;

}
.main-header-logo {
      float: left;
      padding-top: 23px;
      padding-left: 30px;
      padding-right: 40px;
      padding-bottom: 20px;
}
.user-block {
      float: right;
      margin-top: 24px;
      outline: 1px dashed red;
}
.user-block .login {
      padding-right: 20px;
      background: red;
}
.clearfix:after {
      content: "";
      display: table;
      clear: both;
}
nav {
      float: left;
      padding-top: 6px;
      height: 72px;

}
.main-header nav ul li a{
      float: left;
      padding-right: 40px;
}

.main-second {
      outline: 1px dashed red;
      width: 940px;
}
.main-second ul li a {
      font-family: "PT Sans Narrow";
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color:#000000;
      text-transform: uppercase;
      text-decoration: none;
      outline: 1px dashed #cccccc;
      float: left;
      padding-right: 20px;
}
.main-second h1 {
      font-family: "PT Sans Narrow";
      font-weight: bold;
      font-size: 30px;
      line-height: 42px;
      color:#000000;
      text-transform: uppercase;
      outline: 1px dashed #cccccc;
}
.main-second ul li{
      margin: 0px;
}
.main-second ul {
      padding-left: 0px;
}
.filtr {
      outline: 1px dashed white;
      width: 240px;
      height: 670px;
      float: left;
}
.items .items-individual {
      width: 220px;
      height: 286px;
      outline: 1px dashed white;
      background-color: #ffffff;
}
.items-individual {
      float: left;
}
.items-individual-image {
      margin: 0px;
}
.items {
      width: 700px;
      height: 670px;
      outline: 1px dashed black;
      float: left;
}
.main-footer {
      outline: 1px solid black;
      width: 940px;
      display: inline-block;

}
.container {

}
.item1, .item2, .item4, .item5 {
      margin-right: 20px;
}
.item1, .item2, .item3, .item4, .item5, .item6 {
      margin-bottom: 20px;
}
.footer-contacts {
      float: left;
      outline: 1px dashed blue;
      width: 320px;
}
.footer-social {
      float: left;
      outline: 1px dashed blue;
      width: 140px;
}
.footer-copyright {
      float: right;
      outline: 1px dashed blue;
      width: 140px;
}
.items-list ul li {
      display: inline-block;
}
.items-individual-brief {
      font-family: "PT Sans Narrow";
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color:#000000;
      outline: 1px dashed #cccccc;
}
.items-individual-vendor {
      font-family: "PT Sans Narrow";
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color:#000000;
      outline: 1px dashed #cccccc;
}
.items-price {
      font-family: "PT Sans Narrow";
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color:#000000;
      outline: 1px dashed #cccccc;
      display: inline-block;;
}
.items-buy {
      font-family: "PT Sans Narrow";
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      text-decoration: none;
      color:#000000;
      outline: 1px dashed #cccccc;
}
.item-description {
      width: 460px;
      float: left;
      outline: 1px dashed black;
}
.img-1 {
      outline: 1px solid red;
}
.img-2, .img-3 {
      float: left;
      padding-right: 20px;
}
.img-4 {
      float: right;
}
